*{
   margin:0%;
   padding:0%;
   box-sizing:border-box;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, body {
   height: 100%;
}

.main{
   height:100%;
   width:100%;
   background: linear-gradient(45deg,rgb(6, 6, 85),rgb(75, 8, 75));
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}

.main h1{
    margin-bottom: 50px;
    color: white;
    font-size: 50px;
}
.main h1 span{
    color: rgb(234, 5, 177);
}

.main textarea{
    width: 650px;
    height: 250px;
    background: linear-gradient(45deg,rgb(0, 0, 81),rgb(71, 4, 71));
    color: wheat; 
    padding: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
    font-size: 15px
}

textarea::placeholder{
    color: wheat;
    font-size: 20px;
}

.area {
    width: 650px;
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 15px;
}

select{
    flex: 1;
    border: none;
    border-radius:8px ;
    background-color:rgb(0, 0, 81) ;
    color: white;
    height: 50px;
    padding: 3px;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.4);
}

button{
    height: 50px;
    border: none;
    border-radius: 30px;
    background-color: rgb(234, 5, 177);
    color: white;
    padding: 8px;
    font-size: 15px;
    margin: 4px;
}
